<div>
<!--Carousel fade-->
  <div  id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Diapositiva #1 -->
        <div class="carousel-item active" data-interval="200">
            <img src="../../../assets/business.jpg" alt="Escritorio" class="d-block w-100">
        </div>
        <!-- Diapositiva #2 -->
        <div class="carousel-item">
            <img src="../../../assets/ruta.jpg" alt="Ruta" class="d-block w-100">
        </div>
        <!-- Diapositiva #3 -->
        <div class="carousel-item">
            <img src="../../../assets/trabajo en equipo.jpg" alt="Equipo de trabajo" class="d-block w-100">
        </div>
        <!--Dispositiva #4-->
        <div class="carousel-item">
            <img src="../../../assets/cima.jpg" alt="Cima" class="d-block w-80">
        </div>
        <!-- Diapositiva #5-->
        <div class="carousel-item">
            <img src="../../../assets/banner.jpg" alt="Escritorio" class="d-block w-100">
        </div>
        <!--Dispositiva #6-->
        <div class="carousel-item">
            <img src="../../../assets/edificio.jpg" alt="Edificio" class="d-block w-100">
        </div>
    </div>
</div>
</div>


