<div class="row">
    <h2>Hard & Soft Skills</h2>

  <div class="col-lg-2">
  <button type="button" routerLink="/newskill" class="btn btn-outline-secondary" *ngIf="isLogged">Nueva Skill</button>
  </div>

    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 circle" *ngFor="let skill of skill">
     <circle-progress
    [percent]="(skill.porcentaje)"
    [radius]="75"
    [imageSrc]="''"
    [title]="(skill.nombre)"
    [titleColor]="'#212F3C'"
    [showTitle]="true"    
    [showImage]="false"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [backgroundGradient]="true"
    [backgroundColor]="'#ffffff'"
    [backgroundGradientStopColor]="'#c0c0c0'"
    [backgroundPadding]="-18"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#fca606'"
    [innerStrokeColor]="'#fcd305'"
    [animation]="true"
    [animationDuration]="900"
  ></circle-progress>
 <div>
  <td *ngIf="isLogged">
    <button class="btn btn-outline-light"  routerLink="/editskill/{{skill.id}}">
      <i class="bi bi-pen"></i></button></td>
  <td *ngIf="isLogged">
    <button class="btn btn-outline-danger" (click)="delete(skill.id)">
      <i class="bi bi-trash3"></i></button></td>
  </div>
</div>
</div>




