.row{
    padding: 15px;
}
div{
    background-color:#fcb77b;
    text-align: center;
}
/*Estilo FotodePerfil*/
@media (min-width: 577px){
    #FotodePerfil{
        position: absolute;
        width: 15%;
        border-radius: 35% 35% 65% 65%;
        left: 20px;
        top: 360px;
    }
}

@media (max-width: 576px){
    #FotodePerfil{
        position: absolute;
        width: 10%;
        border-radius: 35% 35% 65% 65%;
        left: 45%;
        top: 450px;
    }
}
/*nombre*/
#nombre {
    font-weight: bold;
    margin-top: 10%;
    
    
}
