.row{
    
    padding: 15px;
}
div{
    background-color: #fcb77b;
    text-align: center;
}
/*Estilo FotodePerfil*/
@media (min-width: 768px){
 #FotodePerfil{
        position: relative;
        width: 50%;
        border-radius: 15% 35% 15% 35% ;
        left: 15px;
        top: 10px;
    } 
    #nombre {
        font-weight: bold;
        font-size: 20px;
        font-style: oblique;
        margin-top: 10%;
    }
    
    #título{
        font-style: oblique;
        font-size: 20px;
    }
    
    h4, p { 
        font-family: oblique;
    }
    strong {
        font-style: oblique;
    }
    
    p {
        font-size: 15px;
    }
}

@media (max-width: 576px){
    #FotodePerfil{
       position: relative;
        width: 15%;
        border-radius: 15% 35% 15% 35% ;
        
      
    }
    #nombre {
        font-weight: bold;
        font-size: 18px;
        font-style: oblique;
        margin-top: 2%;
    }
    #título{
        font-style: oblique;
        font-size: 18px;
    }
    
    h4, p { 
        font-family: oblique;
    }
    strong {
        font-style: oblique;
    }
    
    p {
        font-size: 15px;
    }
}

