.row{
    padding: 15px;
}
div{
    background-color:#fcb77b;
    text-align: center;
}
/*Estilo FotodePerfil*/
@media (min-width: 577px){
    #FotodePerfil{
        position: static;
        width: 55%;
        border-radius: 15% 35% 15% 35% ;
        left: 20px;
        top: 400px;
    }
}

@media (max-width: 576px){
    #FotodePerfil{
        position: static;
        width: 15%;
        border-radius: 15% 35% 15% 35% ;
        left: 45%;
        top: 400px;
    }
}
/*nombre*/
#nombre {
    font-weight: bold;
    font-size: 25px;
    font-style: oblique;
    margin-top: 2%;
}

#título{
    font-style: oblique;
    font-size: 25px;
}

h2, p { 
    font-family: oblique;
}
strong {
    font-style: oblique;
}

p {
    font-size: 20px;
}