<div class="row">
    <div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotodePerfil.JPG" class="img-fluid" id="FotodePerfil">
    </div>
    <div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="título">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h4>Acerca de mí</h4>
            <p>Me adentré en la programación como motivo de comenzar un <strong>camino hacia el futuro, los desafíos actuales y el trabajo en equipo.</strong> Soy una persona que no se intimida frente a un <strong>obstáculo,</strong> pero que buscará con sus conocimientos y aptitudes lograr el resultado final que se le proponga. <strong>Alcanzar el punto más alto.</strong> </p>
        </span>
    </div>
</div>

