.row{
    padding:40px;
    background-color: #fcb77b;
}

#app{
    box-shadow: 10px 10px 10px #000000;
    border-radius:15%;
    border: 2px solid grey;
    width: 200px;
    height: 200px;
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.btn{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
 
}

h2{ 
    color:rgb(231, 112, 21);
    font-style: oblique;
}

td{
    font-size: 20px;
}

