.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 5px;
    
}
#logoAP{
    width: 130px;
    
}

img{ 
    width: 30px;
    margin:3px;
}
.btn{
    border-width: 3px;
}
