.row{
    padding: 20px;
}

div{
    background-color: #fcb77b;   
}

h3, h4{
   display: inline; 
}

.btn{
    margin-bottom: 15px;
}

h2{ 
    color:rgb(231, 112, 21);
    font-style: oblique;
    
}
