<div class="row">
    <h2>Estudios realizados</h2>
    <div class="col-lg-11">
        <ul>
            <li><h3>Estudio 1</h3> - <h4>years</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit doloremque autem, a eius quia vitae dignissimos quam cum illum distinctio, nisi adipisci eum sed nulla qui! Nulla reprehenderit possimus fuga.</p>
        </ul>
        <ul>
            <li><h3>Estudio 2</h3> - <h4>years</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit doloremque autem, a eius quia vitae dignissimos quam cum illum distinctio, nisi adipisci eum sed nulla qui! Nulla reprehenderit possimus fuga.</p>
        </ul>
        <ul>
            <li><h3>Estudio 3</h3> - <h4>years</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit doloremque autem, a eius quia vitae dignissimos quam cum illum distinctio, nisi adipisci eum sed nulla qui! Nulla reprehenderit possimus fuga.</p>
        </ul>
    </div>
</div>


